extends layout
block content
    .inner
        h2=title
        .map
            .autocomplete
                input.autocomplete__input(type='text', placeholder='Search Here' name='geolocate')
            #map
                 p 'Its comming....'