extends layout
block content
    h2=title
    form.form(method='POST')
        label Password
        input(type='password' name='password')
        label Confirm Password
        input(type='password' name='confirm_password')
        input.button(type='submit' value='Submit')