extends layout
include ./mixins/storeCard
block content
   .inner
       h2=title
       ul.tags
        each tag in tagsList
               li.tag
                a.tag__link(href=`/tags/${tag._id}` class=(title==tag._id?'tag__link--active':''))
                    span.tag__text=tag._id
                    span.tag__count=tag.total
       .stores
           each store in stores
                +storeMixin(store)