mixin loginForm()
    form(action='/login' method='POST')
        label(for='User Email') User Email
        input(type='email' name='user_email')
        label(for='password') Password
        input(type='password' name='password')
        input.button(type='submit' value='submit')
