mixin resetPassForm()
    h2 Reset Your Password
    form.form(action='/update' method='POST')
        label Enter Your Email Address
        input(type='text' name='user_email')
        input.button(type='submit' value='Get your Token')